:root{
    --background-color: rgb(93, 0, 93);
    --text-color: rgb(205, 2, 205); 
}
*{
    margin: 0;
    padding: 0;
}

body{
   width: 100%;
   height: 100vh;
   background-color: var(--background-color);
   color: var(--text-color);
}